body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
button {
    margin-top: 20px;
}
#camera {
    margin-top: 20px;
    width: 320px;
    height: 240px;
    display: inline-block;
}
#result {
    margin-top: 20px;
}
#qrcode {
    display: none; /* Nasconde il div del QR code */
}